.post{
    display: inline-block;
    border-radius: 6px;
    width: 800px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.post-title{
    display: inline-block;
    vertical-align: top;
    width: 680px;
    margin-right: 16px;
}

.post-date{
    display: inline-block;
    vertical-align: top;
}





